body{
    background-color: blue;
}
.Mufasa{
    background-color: red;
}
.scar{
    background-color: darkorange;
}
.Simba{
    background-color: yellow;
}
.Rafiki{
    background-color: chartreuse;
}
.PumbaaandTimon{
    background-color: blue;
}