body{
    background-color: blue;
}
.mufasa1{
    background-color: red;
}
.mufasa2{
    background-color: yellow;
}
.mufasa3{
    background-color: chartreuse;
}
.mufasa4{
    background-color: blue;
}