body{
    background-color: blue;
}
.pumbaa{
    background-color: red;
}
.aboutpumbaa{
    background-color: yellow;
}
.timon{
    background-color: chartreuse;
}
.abouttimon{
    background-color: darkblue;
}