body{
    background-color: blue;
}
.rafiki1{
    background-color: red;
}
.rafiki2{
    background-color: darkorange;
}
.rafiki3{
    background-color: gold;
}
.rafiki4{
    background-color: chartreuse;
}