body{
    background-color: blue;
}
.simba1{
    background-color: red;
}
.simba2{
    background-color: darkorange;
}
.simba3{
    background-color: yellow;
}
.simba4{
    background-color: chartreuse;
}