body{
    background-color: blue;
}
.Mufasa{
    background-color: blueviolet;
}
.scar{
    background-color: brown;
}
.Simba{
    background-color: chartreuse;
}
.Rafiki{
    background-color: crimson;
}
.Pumbaa and Timon{
    background-color: cornflowerblue;
}