body{
    background-color: blue;
}
.mufasa1{
    background-color: blueviolet;
}
.mufasa2{
    background-color: chartreuse;
}
.mufasa3{
    background-color: crimson;
}
.mufasa4{
    background-color: darkorange;
}