body{
    background-color: blue;
}
.pumbaa{
    background-color: yellow;
}
.aboutpumbaa{
    background-color: chartreuse;
}
.timon{
    background-color: crimson;
}
.abouttimon{
    background-color: darkorange;
}