body{
    background-color: blue;
}
.rafiki1{
    background-color: blueviolet;
}
.rafiki2{
    background-color: chartreuse;
}
.rafiki3{
    background-color: crimson;
}
.rafiki4{
    background-color: darkorange;
}