body{
    background-color: blue;
}
.scar1{
    background-color: blueviolet;
}
.scar2{
    background-color: chartreuse;
}
.scar3{
    background-color: crimson;
}
.scar4{
    background-color: darkorange;
}