body{
    background-color: blue;
}
.simba1{
    background-color: blueviolet;
}
.simba2{
    background-color: chartreuse;
}
.simba3{
    background-color: crimson;
}
.simba4{
    background-color: darkorange;
}